body {
	background: black;
}


header ul li a {
	color: white;
	text-decoration: none;
}

header ul li {
	display: flex;
	padding: 10px;
}

header ul {
	display: flex;
	padding: 10px;
	margin: 10px;
	background: gray;
	border-radius: 10px;
}

header {
	display: flex;
}